* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  .signUp {
    background-color: #fdf9e9;
    height: 100%;
    padding: 80px 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  .mainContent {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 80px;
    background-color: #ffcc19;
    border-radius: 20px;
  }
  
  .formHeader {
    width: 60%;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .formTitle {
    font-family: "Antarctican Headline", Sans-serif;
    font-size: 55px;
    font-weight: 900px;
    line-height: 60px;
    color: #26282d;
  }
  
  .formInfo {
    font-family: "Roboto Condensed", Sans-serif;
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 15px;
    color: #26282d;
  }
  
  .formBottom {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
  }
  
  .form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .formPart {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
  }
  
  .submitBtn {
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #26282d;
    border: none;
    color: #ffcc19;
    font-family: "Roboto Condensed", Sans-serif;
    font-size: 21px;
    font-weight: 600;
    transition: 0.8s ease;
    transform: translateY(1);
  }
  
  .submitBtn:hover{
      background-color: #fff;
      color: #000;
      transition: 0.8s ease;
      transform:rotateY(1.2);
  }
  
  label {
    width: 100%;
    font-size: 20px;
    color: #26282d;
    font-weight: bold;
    font-family: "Roboto Condensed", Sans-serif;
  }
  
  input {
    height: 45px;
    border-radius: 15px;
    border: none;
    text-transform: uppercase;
  }
